.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #053B29;
}

.header h1 {
  margin: 0;
  font-family: 'Cursive';
  color: #ffffff;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.header ul li {
  padding: 7px 12px;
}

.header li a {
  text-decoration: none;
  color: #ffffff;
}

.header_login {
  background-color: #E56E0C;
  border-radius: 20px;
}

.header li.header_login a {
  color: white;
}

.header_logout {
  background-color: #E56E0C;
  border-radius: 20px;
  color: #ffffff;
  padding: 2px 12px;
}